In [2]:
%matplotlib inline

# imports required packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pynetlogo

# think this is for the GUI idk?
sns.set_style("white")
sns.set_context("talk")

# starts a NetLogo link, point the netlogo home path to where you have it installed on your machine
netlogo = pynetlogo.NetLogoLink(
    gui=True,
    netlogo_home="/Volumes/NetLogo 6.3.0/NetLogo 6.3.0"
)

# loads a .nlogo model from provided path
netlogo.load_model("/Users/mabelwylie/Documents/NetLogo-Moss-Python/testModel.nlogo")

# runs the model setup command
netlogo.command("setup")
# runs the field allocation command
netlogo.command("allocate-fields")

In [3]:
# here you can see the "soil moisture" attribute value for each of the patches, laid out similarly to netlogo
netlogo.patch_report("soil-moisture")

,-5,-4,-3,-2,-1,0,1,2,3,4,5
5,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
4,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
3,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
1,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
-1,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
-2,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
-3,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
-4,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
-5,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0

In [4]:
netlogo.patch_report("pcolor")

       -5     -4     -3     -2    -1    0     1     2     3     4     5
 5   55.0   55.0   55.0   55.0  55.0  55.0  55.0  45.0  45.0  45.0  45.0
 4  105.0   55.0   55.0   55.0  55.0  55.0  55.0  45.0  45.0  45.0  45.0
 3  105.0  105.0   55.0   55.0  55.0  55.0  55.0  45.0  45.0  45.0  45.0
 2  105.0  105.0   55.0   55.0  55.0  55.0  55.0  45.0  45.0  45.0  45.0
 1  105.0  105.0  105.0   55.0  55.0  55.0  55.0  45.0  45.0  45.0  45.0
 0  105.0  105.0  105.0  105.0  55.0  55.0  55.0  55.0  45.0  45.0  45.0
-1   15.0   15.0   15.0   15.0  15.0  55.0  55.0  25.0  25.0  25.0  25.0
-2   15.0   15.0   15.0   15.0  15.0  25.0  25.0  25.0  25.0  25.0  25.0
-3   15.0   15.0   15.0   15.0  15.0  25.0  25.0  25.0  25.0  25.0  25.0
-4   15.0   15.0   15.0   15.0  25.0  25.0  25.0  25.0  25.0  25.0  25.0
-5   15.0   15.0   15.0   15.0  25.0  25.0  25.0  25.0  25.0  25.0  25.0

In [5]:
# saves the patch report for soil moisture and ground cover as dataframes
dfMoisture = netlogo.patch_report("soil-moisture")
dfCover = netlogo.patch_report("ground-cover")

for i in range(-5, 6):
    for j in range(-5, 6):
        # for each patch, calculate a new value for each attribute - this is where I envision the hydrology model coupling happening
        dfMoisture[i][j] = dfMoisture[i][j] - 10
        dfCover[i][j] = dfCover[i][j] + 10

# updates the patche attributes using the new values
netlogo.patch_set("soil-moisture", dfMoisture)
netlogo.patch_set("ground-cover", dfCover)

In [6]:
netlogo.patch_report("soil-moisture")

      -5    -4    -3    -2    -1    0     1     2     3     4     5
 5  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0
 4  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0
 3  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0
 2  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0
 1  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0
 0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0
-1  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0
-2  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0
-3  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0
-4  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0
-5  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0  90.0

In [7]:
netlogo.patch_report("ground-cover")

      -5    -4    -3    -2    -1    0     1     2     3     4     5
 5  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0
 4  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0
 3  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0
 2  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0
 1  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0
 0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0
-1  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0
-2  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0
-3  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0
-4  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0
-5  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0  60.0